h1{
  font-size: 24px;
  font-weight: 900;
  margin: 15px;
  margin-bottom: 20px;
}

input
{
  width: 100%;
}
.todoItemContainer
{
  text-align: left;
  margin-top: 20px;
}
.margin_10px
{
  margin-left: 10px;
}